@model LR6_.Models.User
@{
    ViewData["Title"] = "Пользователь";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>AirLove</title>
    <style>
        body {
            font-family: 'Courier New', sans-serif;
            background: rgb(173,173,173);
            background: radial-gradient(circle, rgba(173,173,173,0.6755952380952381) 0%, rgba(87,87,87,1) 100%);
        }

        h3 {
            text-align: center;
            margin-top: 20px;
        }
        a{
            text-align: center;
            margin-top: 20px;
            font-family: 'Courier New', sans-serif;
            color: black;
        }

    </style>
</head>
<body>
    <h3>Thank you! See you later </h3>
    <a href="~/Home/Index">Back in Auth</a>
</body>
</html>